/* Change Color of Links */
.links:hover {
    color: rgba(0, 253, 76, 0.8);
}

.links{
    color:rgb(0, 253, 76);
    text-decoration: none;
}

/* Buttons */

#button {
    background-color: rgb(0, 253, 76); /* Light Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
}

/* Type Of Lists */

#tab {
    text-align: left;
    font-size: 2em;
}

.nodot {
    list-style: none;
}

nav > ul > li {
list-style-type: none;
}

/* Home words color */

#home {
    color: rgb(255, 14, 255);
}

/* Colors */

#greencolor {
    color:rgb(40, 143, 85);
}


/* Body */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

/* Background Images */

/* On codes Page and games */
body#backimg {
    background:url('/images/download.png');
    background-position: center;
    background-size: cover;
    color:rgb(40, 143, 85);
}

.img4 {
    background-image: url('/images/download(1).png');
}

.bg_img {
    height: 50%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-wrapper {
    border-radius: 45px 45px 45px 45px;
    background-color: rgb(8, 59, 4);
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 200px;
    padding: 25px;
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
    /* color: white; */
}

.module {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.6),rgba(83, 58, 58, 0.3)),url(image);
    border-radius: 20px 20px 20px 20px;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 10px 0 0 10px;
    position: relative;
    float: left;
}

.mid h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}

/* Footer */

footer {
    text-align: center;
}